.font-main {
  font-family: 'Oswald', sans-serif;
}

.picture {
  height: 400px;
  object-fit: cover;
  opacity: 0.8;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.word2 {
  text-align: center;
  padding: 40px;
}

.homebody {
  text-align: center;
}

.service {
  margin-left: 11%;
  text-align: center;
}

.button {
  width: 80px;
  height: 80px;
}

.point {
  margin-left: 24%;
}

.abc {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.layout {
  text-align: center;
}

.margin {
  display: inline-block;
  margin: 10px 60px;
}
