.background {
  background: linear-gradient(white, silver);
  height: 100vh;
}

.background-color {
  background: linear-gradient(white, silver);
}

.font-main {
  font-family: 'Oswald', sans-serif;
}

.picture {
  height: 400px;
  object-fit: cover;
  opacity: 0.8;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.word {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.word2 {
  font-size: larger;
  text-align: center;
  margin: 10px;
}

.language {
  padding-bottom: 10px;
}

.layout {
  text-align: center;
}

.margin {
  display: inline-block;
  margin: 10px 60px;
}

.plofile {
  text-align: center;
  margin: 40px;
}

.aboutme {
  font-size: large;
  text-align: center;
  margin: 40px;
}

.skill {
  width: 100px;
  display: inline-block;
}

.picture2 {
  margin: 0 auto;
}

.textarea {
  width: 60%;
  margin: 0 auto;
}
.form {
  text-align: center;
  margin: 30px;
}

.button {
  text-align: center;
  display: block;
  width: 150px;
  margin: 0 auto;
}
