.font-main {
  font-family: 'Oswald', sans-serif;
}

.picture {
  height: 400px;
  object-fit: cover;
  opacity: 0.8;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.word2 {
  text-align: center;
  padding: 40px;
}

.layout {
  text-align: center;
}

.margin {
  display: inline-block;
  margin: 10px 60px;
}

.plofile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  float: left;
}
